.works{
    width: 100%;
    margin-top: -100px;
}
.works_grey{
    background-color: #f2f2f2;
}
.works__block{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 67px;
    text-align: center;
    width: 80%;
    h2{
        margin-bottom: 67px;
    }
}


.works__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.works__description{
    text-align: left;
    width: 40%;
}

.works__title{
    margin-top: 100px;
    color: #868686;
    font-size: 28px;
    font-family: 'GothamBold';
    margin-bottom: 32px;
    padding-left: 23px;
    text-transform: uppercase;
    &:before{
        background-color: #fc635e;
        content: '';
        display: block;
        height: 40px;
        position: relative;
        right: 23px;
        top: 31px;
        width: 10px;
    }
}

.works__text{
    color: #868686;
    font-size: 15px;
    font-family: 'GothamRegular';
    line-height: 1.5;
    margin-bottom: 40px;
}

.works__button{
    background-color: #fc635e;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    height: 44px;
    font-size: 20px;
    font-family: 'GothamRegular';
    outline: none;
    width: 167px;
    &:hover{
        cursor: pointer;
        background-color: #d85753;
    }
}

.adv__wrapper{
    background-color: #ffffff;
    width: 100%;
}

.works__description_right{
    text-align: right;
}

.works__title_right{
    padding-right: 23px;
    &:before{
        left: 376px;
    }
}

.work__text_read-more-state{
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .5s ease;
}
.work__text_read-less-state{
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}


// Portfolio block

.portfolio{ 
    margin: 0 auto;
    padding-top: 67px;
    position: relative;
    text-align: center; 
    width: 80%;
    .down-light{
        left: 48%; 
        margin-top: -60px;
        position: absolute; 
    }
}
.portfolio__nav{
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    margin-top: 40px;
    padding: 23px 15px;
}
.portfolio__list{
    display: flex;
    font-size: 20px;
    font-family: 'GothamRegular';
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    li{
        display: inline;
        color: #7d7c79;
        &:hover{
            cursor: pointer;
        }
    }
    li.active{
        color: #fc635e; 
    }
    li+li:before{
        color: #858688;
        content: "/\00a0";
        padding: 50px;
    }
}

.portfolio__list li.selected{
    a{
       color: #fc635e;
       } 
    }

    .overlay__video{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1d1d19c0;
        display: none;
        z-index: 10;
        
    }

    .player{
        width: 55%;
        background-color: #050a0c;
        border-radius: 20px;
        position: relative;
        padding: 10px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .progress{
        width: 90%;
        height: 10px;
        background: #b8b8b8;
        position: relative; 
        left: 20px;
        bottom: 10px;
        display: flex;
        &:hover{
            cursor: pointer;
        }
    }
    .progress_filled{
        background: #fc635e;
        width: 50%;
        flex: 0;
        flex-basis: 0%;
    }
    .player__button{
        background-color: transparent;
        border: none;
        outline: none;
        position: relative;
        margin-right: 10px;
        i{
            color: #fc635e;
            font-size: 15px;
            position: absolute;
            right: -4px;
            bottom: 2px;
            display: none;
        }
    }
    .player__close{      
    float: right; 
    position: relative;
    bottom: 10px;
    font-size: 31px;
    left: 10px;
    &:hover{
        cursor: pointer;
    }
        i{
            color: white;
        }
    }
    video{
        width: 90%;
        border-radius: 10px;
    }

    .player__button{
        background-color: transparent;
        border: none;
        outline: none;
        position: relative;
        &:hover{
            cursor: pointer;
        }
        i{
            color: #fc635e;
            font-size: 15px;
            position: absolute;
            right: -4px;
            bottom: 2px;
            display: none;
        }
        i:nth-child(1){
            display: block;
        }
    }

    .player__slider{
        color: #fc635e;
    }

    .hover__button{  
        background-color: transparent;  
        position: absolute;
        top: 45%;
        right: 53%;
        z-index: 100;
        font-size: 60px;
        
        color: #868686;
        border: none;
        outline: none;
        display: none;
        opacity: 0.8;
        &:hover{
            cursor: pointer;
            color: #333;
        }
        i{
            position: absolute; 
            display: none;
        }
        i:nth-child(1){
            display: block;
        }
    }
    .player{
        &:hover{
            .hover__button{
                display: block; 
            }
        }
    }
    

    .tooltip{
        position: fixed;
        padding: 10px 20px;
        border: 1px solid #b3c9ce;
        border-radius: 4px;
        text-align: center;
        font: italic 14px/1.3 sans-serif;
        color: #333;
        background: #fff;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        z-index: 100;
    }

.portfolio__table{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
    grid-auto-rows: minmax(200px, auto);
    margin-top: 50px;
}
.portfolio__table.one{
    grid-template-columns: 100%;
    grid-auto-rows: minmax(500px, auto);
}
.portfolio__table.two{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
}


.portfolio__item{
    background-repeat: no-repeat;
    background-size: cover;
    
    &:hover{
        cursor: pointer;
        .portfolio__item_onhover{
            display: block;
        } 
    }
}

.portfolio__item.displayed{
    display: block;
}
.portfolio__item.hidden{
    display: none;
}

.portfolio__item:first-child{
    grid-column: 1/3;
}
.portfolio__item:last-child{
    grid-column: 3/5;
}

.portfolio__item:last-child.two{
    grid-column: auto;
}

.portfolio__item:nth-child(1){
    background-image: url(../assets/images/portfolio_bike.png);
}
.portfolio__item:nth-child(2){
    background-image: url(../assets/images/portfolio_2.png);
}
.portfolio__item:nth-child(3){
    background-image: url(../assets/images/portfolio_bus.png);
}
.portfolio__item:nth-child(4){
    background-image: url(../assets/images/portfolio_box.png);
}
.portfolio__item:nth-child(5){
    background-image: url(../assets/images/portfolio_cards.png);
}
.portfolio__item:nth-child(6){
    background-image: url(../assets/images/portfolio_cars.png);
}

.portfolio__item_onhover{
    background-color: #fc635e80;
    box-sizing: border-box;
    color: #f2f2f2;
    display: none;  
    height: 100%; 
    font-size: 28px;
    font-family: 'GothamBold';
    padding: 27px;
    position: relative;
    text-align: left;
    text-transform: uppercase; 
    width: 100%;
}

.portfolio__plus{
    display: block;  
    left: 45%;
    position: absolute; 
    background-color: transparent;
    border:none;
    outline: none;
    &:hover{
        cursor: pointer;
        p{
            color: #bebdbd;
        }
    }
    p{
        font-size: 100px;
        color: #f2f2f2;
    }  
}

.portfolio__button{
    @extend .works__button;
    font-size: 16px;
    margin-top: 60px;
    position: relative;
    top: -96px;
    width: 220px;
}

.portfolio__mouse{
    display: block;
    left: 649px;
    position: relative;
}