footer{
    align-items: center;
    background-image: url(../assets/images/footer_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 211px;
    justify-content: center;
    width: 100%;
}